

<nav class="navbar is-light" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="/">
      {{ site.title }}
    </a>
    <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/about">About Me</a>
    </div>

  </div>


</nav>