---
title: About Me
layout: layouts/base.njk
---

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ site.title }}</h1>
      <h2 class="subtitle">{{ site.description }}</h2>
    </div>
  </div>
</section>

<section class="postlist mt-3 pt-3">
  <div class="container has-text-centered">
    <h2 class="title mt-3 mb-6">About Me</h2>
    <p>This is my story. It's a short one.</p>
  </div>
</section>